@page "/recipe/{name}"
@model RecipeModel
@{
    ViewData["Title"] = "Recipe";
}

  <section id="recipe">
    <div class="container">
      <div class="row">
        
        <div class="col-12">
          <h2>@Model.Recipe.Name</h2>
        </div>
      </div>      

      @if(Model.Recipe.MainImageUrl != null)
      {
      <div class="row vertical-align">
        <div class="col-12">
          <div class="col-md-8 pull-left wow swing">
            <img src="@Model.Recipe.MainImageUrl" class="recipe-picture" />
          </div>
        </div>
      </div>
      }

      <div class="row wow slideInUp">
        <div class="col-12">
          <div class="recipe-ingredients">
            <h3>Ingredienser</h3>
            <dl class="ingredients-list">
              @foreach (var i in @Model.Recipe.Ingredients)
              {
                <dt>@i.Quantity</dt> <dd>@i.Name @foreach(var link in i.Links) {<a href="@link" rel="nofollow" target="_blank"><i class="ingredient-item-link fas fa-external-link-square-alt"></i></a>}</dd> <dt>@Html.Raw(i.Kcal.HasValue ? $"{i.Kcal.Value}" : "&nbsp;")</dt>
              }
              <dt style="float:right">@Model.GetKcalSum()@if(@Model.Recipe.NrOfPortions.HasValue){@Html.Raw("&nbsp;")<span style="font-size: smaller;">(@Model.Recipe.NrOfPortions x @Model.GetKcalPerPortion())</span>}</dt>
            </dl>
          </div>
        </div>
      </div>


      <div class="row wow slideInUp">
        <div class="col-12">
          <div class="recipe-directions">
            <h3>Steg</h3>
            <ol>
              @foreach(var s in @Model.Recipe.Steps)
              {
                <li>@s</li>
              }
            </ol>
          </div>
        </div>
      </div>

      <div class="row wow slideInUp">
        <div class="col-12">
          <div class="recipe-comments">
            <h3>Kommentarer</h3>
            <ol>
              @foreach(var s in @Model.Recipe.Comments)
              {
                <li>@s</li>
              }
            </ol>
          </div>
        </div>
      </div>      
  </section>